:root {
    --background: linear-gradient(66deg, rgba(147, 140, 11, 1) 0%, rgba(137, 156, 22, 1) 50%, rgba(1, 57, 4, 1) 100%);
    --body-font: "Poppins", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body,
#__next {
    width: 100%;
    height: 100%;
    font-family: var(--body-font);
}

@keyframes load {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.site {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    background: var(--background);

    .site__wrapper {
        width: 986px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }

    .site__menu {
        height: 80px;
        .site__logo {
            display: flex;
            width: 300px;
            height: 80px;
            float: left;
            flex-direction: row;
            align-items: center;

            .site__logo_name {
                display: flex;
                margin-left: 2vh;
                font-size: x-large;
                color: white;
            }
        }
        .site__buttons_nav {
            display: flex;
            width: 686px;
            height: 80px;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-end;
            color: white;

            .site__buttons_in {
                display: flex;
                height: 80px;
                width: 386px;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                color: white;

                a {
                    color: white;
                }

                .rounded_btn {
                    border: 2px solid white;
                    border-radius: 30px 30px;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    padding-left: 10px;
                    padding-right: 10px;
                    transition: 0.7s;
                }

                .rounded_btn:hover {
                    background-color: rgba(255, 255, 255, 0.479);
                    transition: 0.7s;
                }
            }
        }
    }

    .footer {
        height: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;

        .footer__logo {
            display: flex;
            height: 25px;
            float: left;
            flex-direction: row;
            align-items: center;

            .footer__logo_name {
                display: flex;
                margin-left: 1vh;
                color: white;
            }
        }
    }

    .site__content {
        animation: load 1s;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        flex-wrap: nowrap;
        justify-content: center;

        //  @keyframes cyclethree {
        //     0%  {  opacity: 0; }
        //     61% { opacity: 0;}
        //     66% {  opacity: 1; }
        //     95% {opacity: 1;}
        //     100% {  opacity: 0; }
        //  }

        .content__about {
            display: flex;
            height: 560px;
            // border: 2px dotted black;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;

            .content__about_image {
                height: 560px;
                width: 400px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                align-content: stretch;
            }

            .content__about_main_block {
                height: 560px;
                width: 586px;
                display: flex;
                // border: 1px dotted red;
                flex-direction: column;
                flex-wrap: nowrap;
                align-content: flex-start;
                align-items: flex-start;

                .content__about_main_text_1 {
                    margin-top: 25px;
                    height: 76px;
                    width: 586px;

                    .about__first_text {
                        font-size: 35px;
                        font-weight: 500;
                        color: white;
                    }
                }

                .content__about_main_text_2 {
                    font-size: 20px;
                    margin-top: 50px;
                    height: 210px;
                    width: 586px;
                    color: white;
                }

                .content__about_main_buttons {
                    height: 199px;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;

                    .about__button_first {
                        .about__button_first_in {
                            background-color: #f4511e;
                            border-radius: 8px 8px;
                            padding: 13px;
                            font-weight: 600;
                            color: white;
                        }
                    }
                }
            }
        }

        .content__category {
            display: flex;
            height: 560px;
            // border: 2px dotted black;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: flex-start;

            .content__category_text {
                width: 986px;
                height: 184px;
                // border: 1px solid green;
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: flex-start;
                justify-content: center;

                .content__category_text_first {
                    font-weight: 450;
                    font-size: 40px;
                    color: white;
                }
            }

            .content__category_images {
                display: flex;
                width: 986px;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: flex-start;
                align-content: flex-start;
                justify-content: space-around;
            }

            .content__category_text_small {
                display: flex;
                margin-top: 30px;
                width: 986px;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: flex-start;
                justify-content: space-around;

                .content__category_text_1,
                .content__category_text_2,
                .content__category_text_2 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .content__category_image_undertext {
                        font-size: 20px;
                        font-weight: 450;
                        color: white;
                        margin-bottom: 10px;
                    }

                    .content__category_image_undertext_sm {
                        color: white;
                    }
                }
            }
        }

        .content__slider {
            display: flex;
            height: 560px;
            // border: 2px dotted black;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;

            .content__slider_image {
                height: 560px;
                width: 400px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                align-content: stretch;
            }

            .content__slider_main_block {
                height: 560px;
                width: 466px;
                display: flex;
                margin-left: 10px;
                // border: 1px dotted red;
                flex-direction: column;

                .content__slider_main_text_1 {
                    font-size: 25px;
                    float: right;
                    color: white;

                    .slider__first_text {
                        font-weight: 500;
                    }
                }

                .content__slider_main_text_2 {
                    float: right;
                    font-size: 60px;
                    height: 210px;

                    .slider__second_text {
                        height: 70px;
                        color: white;
                        font-weight: 900;
                    }
                }

                .content__slider_main_text_3 {
                    margin-top: 40px;

                    .slider__thrird_text {
                        color: white;
                        opacity: 60%;
                    }
                }

                .content__slider_main_buttons {
                    height: 190px;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;

                    .slider__button_first {
                        .slider__button_first_in {
                            background-color: #f4511e;
                            border-radius: 8px 8px;
                            padding: 13px;
                            font-weight: 600;
                            color: white;
                        }
                    }

                    .slider__button_second {
                        .slider__button_second_in {
                            color: white;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}
